
.card-content {
  padding: 2rem;
  padding-top: 1rem;
}

.onboarding-step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 16px;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #000;
}

.onboarding-step .icon {
  width: 18px;
}

@media (min-width: 1600px) {
  .onboarding-step .icon {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 900px) {
  .onboarding-step .icon {
    width: 28px;
    height: 28px;
  }
}
