.sidebar {
  display: flex;
  flex-direction: column;
  width: 260px;
  background-color: #f7f7f7;
  color: #000000;
  padding-top: 5px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #ddd;
  font-family: "Inter", serif;
  height: 100vh;
}

.is-active svg {
  color: #000000;
}

.sidebar-link:hover,
.sidebar-link.is-active {
  font-weight: 600;
    color: #000000;
}

.side-menu {
  padding-left: 0.3rem;
}

.sidebar-link:hover {
  background-color: #eee;
}

.sidebar-link h4 {
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  font-size: 16px;
}

.itens-menu {
  padding-top: 0.6rem;
}

.itens-menu a {
  overflow: visible;
  justify-content: flex-start;
  row-gap: 12px;
  column-gap: 12px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  opacity: 1;
  cursor: pointer;
  align-self: center;
  z-index: 3;
}

.side-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding-left: 15px;
}

.side-menu svg {
  width: 24px;
  border-radius: 10px;
  flex-shrink: 0;
  margin-right: 4px;
  color: #333;
}

.side-menu a h3 {
  margin: 0.6rem;
}

.size-12 {
  font-size: 12px;
}

.size-8 {
  font-size: 8px;
}